
/* canvas  */

.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    overflow: hidden;
    /* using filter property to blur the painting  */
    filter: blur(2px);
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

/* frist rectangle inside canvas  */

.one {
    width: 450px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
}

/* Second rectangle inside canvas  */

.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0 auto 20px;
}

/* third rectangle inside canvas  */

.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
}